In [2]:
print("Hello world")

Hello world

# Variables

In [3]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [4]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

**Type Casting**

In [5]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [6]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**Multiple Variable**

In [7]:
#multiple variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [8]:
#One value to multiple variable
x=y=z=50
print(x,y,z)

50 50 50

In [9]:
print(x)
print(y)
print(z)

50
50
50

In [10]:
#Unpack A list
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

**concatination**

In [12]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [14]:
x = "Python "
y = "is "
z = "awesome "
print(x+ y+ z)

Python is awesome

In [15]:
x = "Python"
y = "is"
z = "awesome"
print(x+ y+z)

Pythonisawesome

In [16]:
#This show an error because different data types can't concatinate
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Global variable**

In [17]:
'''The Variables that are created outside of a function are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.'''
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

**Local Variable**

In [18]:
"""If you create a variable with the same name inside a function, this variable will be local, and can only be used inside
the function. The global variable with the same name will remain as it was, global and with the original value."""

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

# Data Types

**Text Type:	str**

**Numeric Types:	int, float, complex**

**Sequence Types:	list, tuple, range**

**Mapping Type:	dict**

**Set Types:	set, frozenset**

**Boolean Type:	bool**

**Binary Types:	bytes, bytearray, memoryview**

**None Type:	NoneType**

In [19]:
#To getting data types
x=34
print(type(x))

<class 'int'>

In [21]:
x = str("Hello World")
print(x)

Hello World

**Random Number**

In [24]:
"""Python does not have a random() function to make a random number, but Python has a
built-in module called random that can be used to make random numbers:"""

import random

print(random.randrange(1, 10))

4

# Python Strings

In [25]:
#Single quot and dounle are same in python
print("Hello")
print('Hello')

Hello
Hello

In [26]:
#Assign aVariables
a = "Hello"
print(a)

Hello

**Multiline string**

In [27]:
#Multiline string assign to a variable using triple quots
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

**Strings Are Arrays**

In [35]:
a = "Hello, World!"
print(a[6])

In [34]:
a = "Hello, World!"
print(a[8])

o

In [37]:
#Looping through string
for x in "banana":
  print(x)

b
a
n
a
n
a

In [38]:
#String Length
a = "Hello, World!"
print(len(a))

13

In [39]:

txt = "The best things in life are free!"
print("free" in txt)

True

In [43]:
txt = "The best things in life are free!"
if "sheeza" in txt:
  print("Yes, it is present.")
else:
    print("Not Present")

Not Present

**String slicing**

In [51]:
#Word at index 4 not include because in slicing last index in skipped
x="Hello World!"
print(x[1:4])

ell

In [52]:
x="Hello World!"
print(x[2:])

llo World!

In [53]:
x="Hello World!"
print(x[:8])

Hello Wo

In [54]:
x="Hello World!"
print(x[::])

Hello World!

In [55]:
x="Hello World!"
print(x[:-6])

Hello

In [56]:
x="Hello World!"
print(x[-8:-4])

o Wo

**Modify String**

In [57]:
x="Hello World!"
print(x.upper())

HELLO WORLD!

In [58]:
x="Hello World!"
print(x.lower())

hello world!

In [60]:
x="Hello World!"
print(len(x))

12

In [61]:
x="Hello World!"
print(x.replace('World','Pakistan'))

Hello Pakistan!

In [68]:
#The split() method splits the string into substrings if it finds instances of the separator:


x="Hello, World!"
print(x.split(","))

['Hello', ' World!']

**String Formate**

In [69]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [70]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [71]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [72]:
#Basics and strings with f measures 

a="mathematics"
b="physics"
marks_math=43
marks_physics=65
average=249.88499393282
print(f"Marks in {a} is {marks_math} and marks in {b} is {marks_physics} and {average:.3f}")
print("Marks in "+a+  'is' +str(marks_math)+' and marks in ' +b+' is '+str(marks_physics)+ "and "+ "%.3f"% average)

Marks in mathematics is 43 and marks in physics is 65 and 249.885
Marks in mathematicsis43 and marks in physics is 65and 249.885